<p><%= notice %></p>

<h1>ツイート一覧</h1>

<% @tweets.each do |tweet| %>
    <p>ツイート:<%= tweet.content %></p>
    <%= link_to "編集", edit_tweet_path(tweet.id) %>
    <%= link_to "削除", tweet_path(tweet.id), method: :delete,data: { confirm: '本当に削除していいですか？'} %>
<% end %>

<%= link_to "作成する", new_tweet_path %>
